<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zachary Sorenson | Full Stack Developer</title>
    <link rel="stylesheet" href="~/css/index.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/js/index.js"></script>
</head>
<body>
    <div class="wrapper">
        <h1 class="header">Zachary Sorenson | Full Stack Developer</h1>
        <div class="nav">
            <h1><a href="/" class="nav-button">Home</a> | <a href=@Url.Content("~/pdfs/resume.pdf") class="nav-button">Resume</a> | <a href="https://www.linkedin.com/in/zachary-sorenson-024244189/"  class="nav-button">Linkedin</a></h1>
        </div>
        <div class="about">
            <h1>About Me</h1>
            <h3>I am a Full Stack Developer, Marine Corps Veteran, and graduate of Coding Dojo where I learned 3 full stacks including Python/Django, C#/.NET Core, and MERN.</h3>
        </div>
        <h1>Here are some of my projects!</h1>
        <div class="projectlist">
            <div class="project">
                <img src="/img/prodImg.jpg" alt="project" class="project-img">
                <div>
                    <h4>Social Vinyl Club</h4>
                    <p>Technologies:ReactJS, MongoDB, ExpressJS, NodeJS, Bootstrap, HTML5, CSS3</p>
                    <p>Notable Features</p>
                    <ul>
                        <li>Mongoose on the back end for database management</li>
                        <li>Bcrypt to hash and salt the password for the admin page</li>
                        <li>JSON Web Token For Authentication</li>
                        <li>Band can update their about section and add concert dates through their admin page</li>
                    </ul>
                </div>
            </div>
            <div class="project">
                <img src="/img/prodImg.jpg" alt="project" class="project-img">
                <div>
                    <h4>QuoteBase</h4>
                    <p>Technologies: Django, JQuery, Bootstrap, HTML5, CSS3, SQLite</p>
                    <p>Notable Features</p>
                    <ul>
                        <li>JQuery AJAX calls are utilized to update partials without refreshing as the user interacts with the site</li>
                        <li>Login/Registration with verification</li>
                        <li>Users can create, read, update, and delete quotes</li>
                    </ul>
                </div>
            </div>
            <div class="project">
                <img src="/img/prodImg.jpg" alt="project" class="project-img">
                <div>
                    <h4>Portfolio</h4>
                    <p>Technologies: .NET Core, JQuery, HTML5, CSS3</p>
                </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>