<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="~/css/projects.css"/>
</head>
<body>
    <div class="wrapper">
        <div class="nav">
            <h1><a href="/">Home</a> | <a href="/projects">Projects</a> | <a href="/contact">Contact</a></h1>
        </div>
        <h1 class="about">Here are some of my projects!</h1>
        <div class="projectlist">
            <div class="project">
                <img src="/img/prodImg.jpg" alt="project">
                <div>
                    <h4>Social Vinyl Club</h4>
                    <p>Technologies:ReactJS, MongoDB, ExpressJS, NodeJS, Bootstrap, HTML5, CSS3</p>
                </div>
            </div>
            <div class="project">
                <img src="/img/prodImg.jpg" alt="project">
                <div>
                    <h4>QuoteBase</h4>
                    <p>Technologies: Django, JQuery, Bootstrap, HTML5, CSS3, SQL Server</p>
                </div>
            </div>
            <div class="project">
                <img src="/img/prodImg.jpg" alt="project">
                <div>
                    <h4>Portfolio</h4>
                    <p>Technologies: .NET Core, JQuery, Bootstrap, HTML5, CSS3</p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>