.wrapper{
    display: inline-block;
    width: 70%;
    margin: 0 auto;
    margin-left: 15%;
    background-color: lightgray;
}

.nav {
    background-color: lightblue;
    display: flex;
    justify-content: center;
}

.nav h1 a {
    color: inherit;
}

.content form {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.content-right {
    display: inline-block;
    width: 300px;
    margin-left: 100px;
}
.content-right input {
    display: inline-block;
    margin-left: 5px;
}
.content-left {
    display: inline-block;
    margin-top: 50px;
}



.about {
    display: flex;
    justify-content: center;
}